:root {
    --primary-blue: hsla(204, 42%, 27%, 1);
    --primary-green: hsla(183, 31%, 34%, 1);
    --secondary-gray: hsla(0, 0%, 85%, 1);
    --secondary-black: hsla(0, 0%, 21%, 1);
}

* {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

li {
    list-style: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

/* ? Header is too big */
.tab-header {
    width: 100%;
    height: 120px;
    background-color: var(--primary-blue);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.project-icon {
    margin-left: 30px;
}

.tab-name-bg {
    margin-left: 15px;
}

.tab-name {
    height: 60px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 48px;
}

.tab-name::placeholder {
    color: white;
}

.tab-filter-bg {
    box-sizing: border-box;
    height: 60px;
    width: 360px;
    padding: 10px;
    margin-left: auto;
    margin-right: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.tab-filter {
    width: 100%;
    font-size: 36px;
}

/* TODO: Setup horizontal scroll */
main {
    margin-top: 60px;
}

.title-list {
    display: flex;
}

.title {
    height: 720px;
    width: 480px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
}

.title-header {
    height: 120px;
    background-color: var(--primary-green);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-name-bg {
    width: 100%;
}

.title-name {
    background-color: var(--primary-green);
    height: 120px;
    width: 100%;
    margin-left: 60px;
    color: white;
    font-size: 36px;
}

.title-name::placeholder {
    color: white;
}

.option-icon {
    margin-right: 30px;
}

.option-icon:hover {
    cursor: pointer;
}

.title-subhead {
    height: 60px;
    background-color: var(--secondary-black);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-time-bg {
    margin-left: 60px;
}

/* TODO: Setup default value with JS */
.title-time {
    height: 60px;
    background-color: var(--secondary-black);
    color: white;
    font-size: 24px;
}

.title-plus {
    margin-right: 60px;
    font-size: 48px;
    color: white;
}

.title-plus:hover {
    cursor: pointer;
}

/* TODO: task-list inside scroll */
.task-list {
    height: 100%;
    background-color: var(--secondary-gray);
}

/* ? box-shadow look weird */
.menu-icon {
    position: fixed;
    bottom: 60px;
    left: 60px;
}

.plus-icon {
    position: fixed;
    bottom: 60px;
    right: 60px;
}