:root {
    --primary-blue: hsla(204, 42%, 27%, 1);
    --primary-green: hsla(183, 31%, 34%, 1);
    --secondary-gray: hsla(0, 0%, 85%, 1);
    --secondary-black: hsla(0, 0%, 21%, 1);
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    overflow-y: hidden;
}

img {
    display: block;
}

li {
    list-style: none;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

/*  TODO: Tab header scroll down */
.tab-header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: var(--primary-blue);
    opacity: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: opacity .7s;
    display: flex;
    align-items: center;
}

.tab-header:hover {
    opacity: 1;
}

.project-icon {
    margin-left: 30px;
}

.tab-name-bg {
    margin-left: 15px;
}

.tab-name {
    height: 60px;
    background-color: var(--primary-blue);
    color: white;
    font-size: 48px;
}

.tab-name::placeholder {
    color: white;
}

.tab-filter-bg {
    box-sizing: border-box;
    height: 60px;
    width: 360px;
    padding: 10px;
    margin-left: auto;
    margin-right: 60px;
    background-color: white;
    display: flex;
    align-items: center;
}

.tab-filter {
    width: 100%;
    font-size: 36px;
}

/* Title Section */
main {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}

main::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.title-list {
    height: 90%;
    display: flex;
}

.title {
    height: 100%;
    width: 480px;
    margin: 0 60px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;
}

.title-header {
    height: 120px;
    background-color: var(--primary-green);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-name-bg {
    width: 100%;
}

.title-name {
    background-color: var(--primary-green);
    height: 120px;
    width: 100%;
    margin-left: 60px;
    color: white;
    font-size: 36px;
}

.title-name::placeholder {
    color: white;
}

.option-icon {
    margin-right: 30px;
}

.option-icon:hover {
    cursor: pointer;
}

.title-subhead {
    height: 60px;
    background-color: var(--secondary-black);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-time-bg {
    margin-left: 60px;
}

/* TODO: Setup default value with JS */
.title-time {
    height: 60px;
    background-color: var(--secondary-black);
    color: white;
    font-size: 24px;
}

.title-plus {
    margin-right: 40px;
    font-size: 48px;
    color: white;
}

.title-plus:hover {
    cursor: pointer;
}

/* Task Section */
.task-list {
    height: 100%;
    background-color: var(--secondary-gray);

    overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.task {
    width: 420px;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    margin: 30px auto;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.task-name {
    height: 40px;
    width: 100%;
    font-size: 36px;
}

.task-time {
    font-size: 18px;
}

.task-type-list {
    align-self: center;
    display: flex;
    gap: 30px;
}

.task-type {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--secondary-gray);
    font-size: 27px;
    text-align: center;
}

.task-description {
    height: 100%;
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
}

.task-description:focus {
    outline: none;
    border: 2px solid #E5E5E5;
    border-radius: 5px;
}

.task-started-bg, .task-completed-bg {
    align-self: end;

    display: flex;
    align-items: center;
}

.task-started-bg:hover, .task-completed-bg:hover {
    cursor: pointer;
}

.task-started-bg > p, .task-completed-bg > p {
    font-size: 27px;
}

.task-unfold {
    height: 390px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 20px 90px 120px 60px;
    grid-template-areas: 
        "name name"
        "time time"
        "type type"
        "description description"
        "started completed";
}

.task-cross {
    position: absolute;
    top: 15px;
    right: 15px;
}

.task-cross:hover {
    cursor: pointer;
}

.task-unfold > .task-name-bg {
    grid-area: name;
}

.task-unfold > .task-time-bg {
    grid-area: time;
}

.task-unfold > .task-type-list {
    grid-area: type;
}

.task-unfold > .task-description-bg {
    grid-area: description;
}

.task-unfold > .task-started-bg {
    grid-area: started;
}

.task-unfold > .task-completed-bg {
    grid-area: completed;
}

.task-fold {
    height: 120px;

    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "name started"
    "time completed";
    align-items: center;
}

.task-fold > .task-name-bg {
    grid-area: name;
    align-self: center;
}

.task-fold > .task-time-bg {
    grid-area: time;
    align-self: center;
}

.task-fold > .task-started-bg {
    grid-area: started;
    justify-self: end;
    align-self: center;
}

.task-fold > .task-completed-bg {
    grid-area: completed;
    justify-self: end;
    align-self: center;
}

.menu-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-black);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon:hover {
    cursor: pointer;
}

.menu-icon > img {
    width: 60px;
    height: 60px;
}

.plus-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-black);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 60px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-icon:hover {
    cursor: pointer;
}

.plus-icon > p {
    font-size: 96px;
    color: white;
}